@if (!fileBrowserService.loading && !fileBrowserService.errorMessage) {
<div class="mb-3">
    <button class="btn mb-2" type="button"
        [ngClass]="{ 'btn-outline-primary': fileBrowserService.enableSearching, 'btn-primary': !fileBrowserService.enableSearching }"
        (click)="onClickSearchingButton()">
        {{ fileBrowserService.enableSearching ? 'Disable Searching' : 'Enable Searching' }}
    </button>
    <span class="mx-3">
        {{ fileBrowserService.size }} results found.
    </span>

    @if (fileBrowserService.enableSearching) {
    <div class="mb-2">
        <label class="h6" for="searchingName">Search by name</label>
        <input type="text" class="form-control" id="searchingName" [(ngModel)]="fileBrowserService.searchingName"
            (input)="onInputSearchingName()">
    </div>

    <div class="mb-2">
        <label class="h6">Search by tags</label>
        @if (fileTagsService.isEmpty()) {
        <p>There are no search tags.</p>
        } @else {
        <div>
            @for (fileTag of fileTagsService.fileTags; track $index) {
            <button class="btn mx-1 rounded-pill"
                [ngClass]="{ 'btn-outline-secondary': !fileTag.active, 'btn-secondary': fileTag.active }"
                (click)="onClickSearchingTagButton(fileTag)">
                {{ fileTag.name }}
            </button>
            }
        </div>
        }
    </div>
    }
</div>
}