<div class="modal fade" id="oneButtonModal" tabindex="-1" aria-labelledby="oneButtonModalLabel" aria-hidden="true"
    #oneButtonModal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="oneButtonModalLabel">
                    {{ modalTitle }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="onClickModalButton(false)">
                </button>
            </div>
            <div class="modal-body">
                <p>{{ modalBody }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="onClickModalButton(true)">
                    {{ trueButtonText }}
                </button>
            </div>
        </div>
    </div>
</div>