<div class="form-group mb-3">
    <label class="h6" for="currentFolderPath">Current folder</label>
    <div class="input-group mb-2">
        <input type="text" class="form-control" id="currentFolderPath"
            [(ngModel)]="fileBrowserService.currentFolderPath" (change)="onChangeCurrentFolderPath()">
        <button class="btn btn-outline-secondary" type="button" (click)="onClickParentButton()" title="Parent Folder">
            <i class="bi bi-arrow-90deg-left"></i>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="onClickHomeButton()" title="Home Folder">
            <i class="bi bi-house"></i>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="onClickRefreshButton()" title="Refresh">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </div>

    <div class="btn-group" role="group">
        <button class="btn btn-success" (click)="onClickLevelButton()" [disabled]="!fileBrowserService.allLevels"
            title="One level under the current folder">
            One Level
        </button>
        <button class="btn btn-success" (click)="onClickLevelButton()" [disabled]="fileBrowserService.allLevels"
            title="All levels under the current folder">
            All Levels
        </button>
    </div>
</div>