<h3 class="my-3">File Tags</h3>

<div class="mb-5">
    <div class="mb-3">
        @if (fileTagsService.isEmpty()) {
        <p>There are no file tags.</p>
        } @else {
        @for (fileTag of fileTagsService.fileTags; track $index) {
        <button class="btn btn-outline-secondary mx-1 rounded-pill" title="Click to remove this file tag"
            (click)="onClickFileTagButton(fileTag.name)">
            {{ fileTag.name }}
        </button>
        }
        }
    </div>
    <button class="btn btn-outline-primary mx-2" [disabled]="fileTagsService.isEmpty()"
        (click)="onClickRemoveAllButton()">
        Remove all file tags
    </button>
</div>

<div class="mb-3">
    <h5 class="mb-3">Do you want to add a file tag?</h5>
    <div class="form-group mb-3">
        <label for="tag">File Tag</label>
        <input type="text" class="form-control" id="tag" [(ngModel)]="tag" (input)="onInputTag()">
        <small class="form-text text-muted">{{ helpMessage }}</small>
    </div>
    <button class="btn btn-primary mx-2" (click)="onClickAddButton()">Add a file tag</button>
</div>