<h3>Home</h3>

<div class="form-group mb-2">
    <label for="">Current Folder: </label>
    <div class="input-group dropdown">
        <input type="text" class="form-control" [(ngModel)]="homeService.currentFolderPath"
            (change)="onChangeCurrentFolderPath()">
        <button class="btn btn-outline-secondary" type="button" (click)="onClickParentButton()" title="Parent Folder">
            <i class="bi bi-arrow-90deg-left"></i>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="onClickDefaultButton()" title="Default Folder">
            <i class="bi bi-house"></i>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="onClickRefreshButton()" title="Refresh">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </div>
</div>

<div class="mb-2">
    <div class="btn-group" role="group">
        <button class="btn btn-success" (click)="onClickFileOption(false)" [disabled]="!homeService.allFiles"
            title="Show folders and files within the current folder">
            This Folder
        </button>
        <button class="btn btn-success" (click)="onClickFileOption(true)" [disabled]="homeService.allFiles"
            title="Show all files under the current folder">
            All Files
        </button>
    </div>
</div>

@if (homeService.loading) {
<p>Loading...</p>
} @else if (homeService.errorMessage) {
<div class="alert alert-danger d-flex align-items-center fade show">
    <i class="bi-exclamation-octagon-fill"></i>
    <strong class="mx-2">Error!</strong>{{ homeService.errorMessage }}
</div>
} @else {
<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 65%;">Name</th>
            <th class="text-center" style="width: 15%;">Last modified</th>
            <th class="text-center" style="width: 10%;">Type</th>
            <th class="text-center" style="width: 10%;">Size</th>
        </tr>
    </thead>
    <tbody>
        @for (desktopFile of homeService.filteredDesktopFiles; track $index) {
        <tr (click)="onClickTableRow(desktopFile)" [ngClass]="{ 'table-light': desktopFile.type === 'folder' }"
            title="{{ desktopFile.absolutePath }}">
            <td>{{ desktopFile.name }}</td>
            <td class="text-center">{{ desktopFile.lastModified | date:'dd/MM/yyyy hh:mm' }}</td>
            <td class="text-center">{{ desktopFile.type }}</td>
            <td class="text-end">{{ desktopFile.size | byteSize }}</td>
        </tr>
        }
    </tbody>
</table>
}

<ng-template #modalContainer></ng-template>