<div class="mb-3">
    <h3 class="mb-3">File Tags</h3>
    
    @if (desktopFile.tags.length === 0) {
    <p>There are no any tags in this file.</p>
    }
    @else {
    @for (tag of desktopFile.tags; track $index) {
    <button class="btn btn-outline-secondary mx-1 rounded-pill"
        (click)="onClickRemoveFileTag($index)">
        {{ tag }}
    </button>
    }
    }
</div>

<div class="form-group mb-5">
    <button type="reset" class="btn btn-outline-primary mx-2"
        [disabled]="isEmptyTags()"
        (click)="onClickClearButton()">
        Clear all file tags
    </button>
</div>

<div class="mb-3">
    <h6 class="mb-3">Do you want to add any tags to this file?</h6>

    @if (isEmptyAvailableTags()) {
    <p>There are no any file tags that you can add.</p>
    } @else {
    @for (availableTag of availableTags; track $index) {
    <button class="btn btn-outline-secondary mx-1 rounded-pill" (click)="onClickAddFileTag(availableTag)">
        {{ availableTag }}
    </button>
    }
    }
</div>