<h3 class="my-3">Tags</h3>

<app-loading></app-loading>

@if (loadingService.isRunning) {
<div class="mb-5">
    <div class="mb-3">
        @if (tagsService.isTagsEmpty) {
        <p>There are no tags in the system.</p>
        } @else {
        @for (fileTag of tagsService.fileTags; track $index) {
        <button class="btn btn-outline-secondary mx-1 rounded-pill" title="Click to remove this tag"
            (click)="onClickRemoveButton($index, fileTag.tag)">
            {{ fileTag.tag }}
        </button>
        }
        }
    </div>
    <button class="btn btn-outline-primary mx-3" [disabled]="tagsService.isTagsEmpty" (click)="onClickRemoveAllButton()">
        Remove all the tags
    </button>
</div>

<div class="mb-3">
    <h5 class="mb-3">Do you want to add a tag?</h5>
    <div class="form-group mb-3">
        <label for="newTag">Tag Name</label>
        <input type="text" class="form-control" id="newTag" [(ngModel)]="tagsService.newTag" (input)="onInputNewTag()"
            (keydown.enter)="onClickAddButton()">
        <small class="form-text text-muted">{{ tagsService.helpMessage }}</small>
    </div>
    <button class="btn btn-primary mx-3" (click)="onClickAddButton()">Add a tag</button>
</div>
}