<h3 class="my-3">About DFMS</h3>

<div class="my-3 text-center">
    <img src="assets/images/DFMS.png" alt="" style="width: 30%;">
</div>

<hr>

<div class="my-5">
    <h5 class="mb-3">What is DFMS?</h5>
    <p class="mb-5">
        DFMS, the Desktop File Management System, is an innovative software product designed to enhance the efficiency
        of file organization and access on Windows operating systems. Through a user-friendly browser interface, DFMS
        allows users to seamlessly navigate and explore folders and files with ease. With a simple click, users can
        effortlessly view the contents of entire folders, streamlining the file browsing experience. The standout
        feature of DFMS is its robust file search functionality, enabling users to locate specific files swiftly by
        their names. A key aspect of the software is its powerful tagging system, which empowers users to add relevant
        tags to files. This tagging system proves invaluable for efficient file retrieval, eliminating the need for
        manual copying and storage duplication. For instance, when dealing with files containing various features, users
        can tag them accordingly, avoiding the cumbersome process of copying each file to individual feature folders.
        DFMS revolutionizes desktop file management, providing a smart and efficient solution to optimize storage
        utilization and simplify file organization.
    </p>
    <div class="text-center">
        <a href="https://chinghangprofile.web.app/projects/dfms" target="_blank"
            class="btn btn-outline-primary mx-2 col-2">Product Website</a>
        <a href="https://chinghangprofile.web.app/projects/dfms/guideline" target="_blank"
            class="btn btn-outline-primary mx-2 col-2">How to Use</a>
    </div>
</div>

<hr>

<div class="my-5">
    <h5 class="mb-3">Product Details</h5>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Product Name</td>
                <td>DFMS</td>
            </tr>
            <tr>
                <td>Version</td>
                <td></td>
            </tr>
            <tr>
                <td>Release Date</td>
                <td></td>
            </tr>
            <tr>
                <td>Source Code</td>
                <td><a href="https://github.com/chinghang0504/DFMS"
                        target="_blank">https://github.com/chinghang0504/DFMS</a></td>
            </tr>
            <tr>
                <td>Author</td>
                <td>Ching Hang Lam</td>
            </tr>
            <tr>
                <td>Author's Website</td>
                <td><a href="https://chinghangprofile.web.app" target="_blank">https://chinghangprofile.web.app</a></td>
            </tr>
            <tr>
                <td>Problem and Bug Reporting</td>
                <td><a href="mailto:chinghang0504@gmail.com">chinghang0504&#64;gmail.com</a></td>
            </tr>
        </tbody>
    </table>
</div>